<!DOCTYPE html>
<html>
<head>
    <title>Home - Cloud & DevOps</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <h1>🌥️ Hello, Cloud & DevOps!</h1>
    </header>
    <main>
        <p>Welcome to your first deployed Python web app on Azure!</p>
        <ul>
            <li><a href="/about">About This Lab</a></li>
            <li><a href="/devops">What is DevOps?</a></li>
        </ul>

        <img src="https://stclouddevopslabiordanis.blob.core.windows.net/stclouddevopslabiordanis-app-contents/IMG_20230217_123557-1.jpg" alt="Image from Azure">
    </main>
    <footer>
        &copy; 2025 Cloud & DevOps Workshop
    </footer>
</body>
</html>
